body{
    font-family: 'Courier New', sans-serif;
    font-weight: 400;
}

input {
    
    width: 1200px;
    height: 50px;
    font-size: 2em;
    border: none;
    border-bottom: 2px solid silver;
    padding-bottom: 5px;
    float: right;
}

ul {
    position: relative;
    top: 70px;
    left: 180px;
    font-size: 38px;
}
li {
    text-underline-offset: 7px;
    list-style-type: none;
    padding: 5px;
}

.list1 {
    text-decoration-line: underline;
    text-decoration-color: orange;
}

.list2 {
    text-decoration-line: underline;
    text-decoration-color: blue;
}

.list3 {
    text-decoration-line: underline;
    text-decoration-color: yellow;
}

.list4 {
    text-decoration-line: underline;
    text-decoration-color: violet;
}

.list5 {
    text-decoration-line: underline;
    text-decoration-color: greenyellow;
}

.list6 {
    text-decoration-line: underline;
    text-decoration-color: green    ;
}

.block1 {
    width: 50%;
    height: 40vh;
    background-color: silver;
    position: relative;
    top: 100px;
    border-radius: 10px;
}

h2, p {
    text-align: left;
}

h2 {
    font-size: 2.5em;
    font-weight: 100;
    padding: 20px 20px 0;
}

p {
    padding: 5px 20px;
    font-size: 1.3em;
}